.home-title {
  font-family: "Kalam", cursive;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.input-search {
  text-transform: lowercase;
}

.home-search {
  border: 0.25rem solid #136c72;
  width: 15rem;
  height: 3rem;
  border-radius: 8px;
  margin-top: 3rem;
}

.home-search input {
  border: none;
  outline: none;
  width: 95%;
}

.home-row {
  display: flex;
}

.search-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card-item {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 3rem 2rem;
}

.card {
  /* background: black; */
  border: 2px solid #136c72;
  width: 8rem;
  cursor: pointer;
  /* margin-right: 1rem; */
}

.card .item {
  font-size: 1rem;
  font-weight: 500;
}

.card img {
  width: 8rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.75rem;
  margin-bottom: 3rem;
  gap: 1rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
}
.pagination button {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 800px) {
  .card .item {
    font-size: 1.35rem;
    font-weight: 500;
  }
  .home-title {
    display: flex;
    justify-content: center;
  }

  .card {
    /* background: black; */
    width: 20rem;
    /* margin-right: 5rem; */
  }

  .card img {
    width: 20rem;
  }
}
